body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	scrollbar-color: $base_blue;
	
}
html, .has-scroll-smooth {
    scroll-behavior: smooth;
}

[data-scroll-container] {
    perspective: 1px;
}


main {
	width: 100%;
	height: 100%;
	position: relative;
}

img {
	width: 100%;
	height: auto;
}

.sectionMargin {
	margin: 0 auto;
}

.sectionPadding {
	padding: 5rem 0;
}
section, footer{
	display: inline-block;
}
.section {
	width: 100%;
	height: calc(100vh - 85px);
}

::-webkit-scrollbar {
	display: block;
}

.msec {
	margin: 1rem 2rem;
}

.mousey {

	display: inline-block;
	border: 1px solid #FFFFFF;
	width: 29px;
	height: 49px;
    padding: 11px 11px;

	border-radius: 29px;


	.scroller {
		-webkit-animation-duration: 2.2s;
		animation-duration: 2.2s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-name: scroll;
		animation-name: scroll;
		-webkit-animation-timing-function: cubic-bezier(.15, .41, .69, .94);
		animation-timing-function: cubic-bezier(.15, .41, .69, .94);
		width: 5px;
		height: 17px;

		border-radius: 30px;
		background: #F6F6F6;

		
	}
	@keyframes scroll {
		0% {
			transform: translateY(-10px);
		}
		
		100% {
			transform: translateY(10px);
			opacity: .1;
		}
	  }
}
.opacit{
	opacity: 0;
	transition: opacity 2s;
}

.opct{
	opacity: 1;
}
.autograph__path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	/* animation: dash 5s linear alternate infinite; */
  }
  .pause{
	position: relative;
	z-index: 1;
  }

  .round_brdr{
	border-radius: 1rem;
	overflow: hidden;
	aspect-ratio: 1/1;
  }
.no_content{
	height: 5rem;
	width: 100%;
}