.navbar{
   
        position: sticky;
        z-index: 100;
        top: 0;
        left: 0;
        background-color: #fff;

    
    .nav-left{
        overflow: hidden;
    }
    .nav-right{
        overflow: hidden;
    }
    .right, .left {
  
        gap: 2rem;
    text-wrap: nowrap;
    }
    
}
