.banner{
    margin-bottom: 2rem;;
    row-gap: 1rem;
    .description{
        .desc{
            height: 100%;
          
        }
    }
    hgroup{

    
    h3{
        width: 62%;
        margin-bottom: .5rem;
    }
    p{
        width: 75%;
        margin-bottom: 1rem; 
    }
}
.purple_patch{
    background-color: #ce44ff;
    width: 6.25rem;
    height: 6.25rem;
    // border-radius: 50%;
    filter: blur(3rem);
    position: absolute;
    bottom: 0;
    right: 5%;

}
}
.stars{
    position: absolute;
    right: 5%;
    top: 3%;
    transform: rotate(90deg);
 .one{
width: 3.125rem;

}
.two{
width: 1.563rem;
}
}
.small_brdr{
  
   
    padding: 1rem;
    border: 1px solid $base_light;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
}
#cardCont{
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 1rem;
}
.more{
    margin: 3rem 0;
}
.temple{
    img{
        aspect-ratio: 3/2;
    }
}